<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<meta charset="utf-8" />
	<title>estore ADM</title>
	<link rel="stylesheet" type="text/css" href="css/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="css/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<script type="text/javascript" src="js/jquery/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/easyui/easyui-lang-zh_CN.js"></script>
	   
      
       	<!--開發版本-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!--生產版本-->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="js/index/index.js"></script>
	
	
	AAAAAAAAAAAAAAAAAAAAAA
	
</header>