<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script type="text/javascript" src="js/jquery/jquery-1.11.2.min.js"></script>
  <script src="js/index/vue.js"></script>
</head>
<body>
  
 檔案上傳:
<input type="file" id="alexFile" /><br>


------------




<br>
  <div id="app9">
   
  </div>
  
  
  
  
  
  
  
  <div id="app">
   
  </div>

 
  
  
  
   <div id="app3" >
		   <ul>  
			    <li v-for="(value, index) in message">
			     	{{index}} : {{value}}
			    </li>
		  </ul>
   </div>
  
  
  
  
  
</body>
</html>